.main-text {
  padding-top: 100px;
  padding-left: 5vw;
  padding-right: 5vw;
  color: rgb(41, 41, 99);
  height: 90vh;
  margin: 0% 0%;
  font-family: Lucida Grande;
}

body {
  background-color: #add8e6;
}

.banner {
  background-color: rgb(41, 41, 99);
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 80px;
  padding-left: 5vw;
  font-family: Didot;
  color: white;
}

.details {
  margin-left: 0vw;
}

.details {
  background-color: rgb(41, 41, 99);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  color: white;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
}

.image {
  display: block;
}

.text {
  padding-left: 1vw;
}

.figure {
  text-align: left;
  all: unset;
  display: block;
}

.caption {
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
}
